.env*
.venv
__pycache__/
*.pyc
*.DS_Store
build/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Zip files
*.zip

# Layer
layers/shared/python/*
!layers/shared/python/config.py
!layers/shared/python/slack.py
!layers/shared/python/w2m.py